.row
  .col-md-8.offset-md-2
    %h1 My Uploaded Keywords
    %table.table.table-striped
      %thead
        %tr
          %th Keyword
          %th Status
          %th Created At
      %tbody
        - @keywords.each do |keyword|
          %tr{id: dom_id(keyword)}
            %td= link_to(keyword.name, keyword_path(keyword))
            %td= keyword.status.humanize
            %td= format_date(keyword.created_at)

.row
  .col-md-8.offset-md-2
    = link_to "Upload a new keyword file", new_keyword_path, class: "btn btn-primary"
