= form_with(url: keywords_path, local: true, method: :post, enctype: "multipart/form-data") do |form|
  .mb-3
    = form.label :keyword_file, class: "form-label"
    = form.file_field :keyword_file, class: "form-control", required: true

  .mb-3
    = form.submit "Upload", class: "btn btn-primary"
