.row
  .col-md-8.offset-md-2
    %h1= @keyword.name
    %table.table.table-striped
      %thead
        %tr
          = render 'search_result_headers'
      - search_result = @keyword.search_result
      %tbody
        %tr
          = render 'search_result_infor', search_result: search_result

.row
  .col-md-8.offset-md-2
    = link_to "Back to keywords", keywords_path, class: "btn btn-secondary"
